{% extends "base.html" %}

    {% block title %} Чат {% endblock title %}

{% block content %}

<div id="more-text-here2"></div>

<div class="row">
{% for message in private_messages %}
    {% if message.author == user %}
     <div class="col-sm-1">       </div>
    <div class="col-sm-11">
        <div class="card py-0">
            <div class="card-body py-0">
                <div class="row">
                    <dd class="col-sm my-0 text-right ">{{message.messages|safe}} </dd>
                    <dt class="col-sm-3 my-0 px-0 line text-center">Вы ({{message.author}}) <span class="badge badge-light">{{message.create_time}}</span></dt>
                </div>
            </div>
        </div>
    </div>
    {% else %}
   <div class="col-sm-11">
        <div class="card py-0" style='background-color: #F5FFFA;'>
            <div class="card-body py-0">
                <div class="row">
                    <dt class="col-sm-3 my-0 px-0 text-center">({{message.author}}) <span class="badge" style='background-color: #F5FFFA;'>{{message.create_time}}</span></dt>
                    <dd class="col-sm my-0 line">{{message.messages|safe}}</dd>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1">       </div>
    {% endif %}

{% endfor %}
</div>
<input type="hidden" name="len_mes" id="len_mes" value='{{len_mes}}'>
<input type="hidden" name="user_1" id="user_1" value='{{user_1}}'>
<input type="hidden" name="user_2" id="user_2" value='{{user_2}}'>

        <div class='col-md-8 mx-auto'>
            <form action="{% url 'dialogs:chat' user_1=user_1 user_2=user_2%}" method="post"> {% csrf_token %}
                {{form.as_p}}
                <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary btn-sm">Отправить</button>
            </form>
            <a class="btn btn-light btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'dialogs:chat' user_1=user_1 user_2=user_2%}" class="btn btn-primary btn-sm" id="update_message1"></a>
                </div>
        </div>

{% endblock content %}

{% block javascript %}

    <script type="text/javascript">
        var len_mes = document.getElementById('len_mes').value;
        var user_1 = document.getElementById('user_1').value;
        var user_2 = document.getElementById('user_2').value;
        var timeOutId = 0;
        var ajaxFn = function () {
                $.ajax({
                    type: 'GET',
                    async: true,
                    url: '/ajax/',
                    data: {
                        'len_mes': len_mes,
                        'user_1': user_1,
                        'user_2': user_2
                        },
                    success: function(data) {
                        document.getElementById('update_message1').innerHTML=( data['private_messages'] + "&nbsp;\
                        <span class='badge badge-light'>" + data['len_mes'] + "</span>"  );
                    },
                    dataType: 'json',
                });
            };
        ajaxFn();
        timeOutId = setInterval(ajaxFn, 1000);
  </script>

{% endblock javascript %}