{% extends "base.html" %}
{% block title %} Страница входа {% endblock title %}

{% block content %}
    <h2 class="display-4">Войти в систему</h2>
        <div class="row mx-auto">
            <div class="col-md">
                <form action="" method="post">{% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <input type="submit" value="Вход">
                </form>
            </div>
        </div>

<p><a href="{% url "accounts:password_reset" %}" class='text-primary'>Забыли ваш пароль?</a></p>

<div class="social">
    <ul>
        <li class="facebook"><a href="{% url "social:begin" "facebook" %}">
        Войти с акаунта Facebook</a></li>
    </ul>
</div>
{% endblock content %}
