<!DOCTYPE html>

{% url 'list' as list_url %}
{% url 'home' as home_url %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


      {% load static %}
      <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/png">

    <title>{% block title %} {% endblock title %} </title>

      <style type="text/css">
            table {
            width: 100%; /* Ширина таблицы в процентах */
           }
           .col1 {
            width: 5px; /* Ширина ячейки */
            border-left: 1px solid black; /* Линия слева от ячейки */
           }
           .line {
            border-left: 2px solid #ccc; /* Параметры линии */
            margin-left: 20px; /* Отступ слева */
            padding-left: 10px; /* Расстояние от линии до текста */
        </style>


        <div class="collapse" id="navbarHidenContent">
            <div class="bg-light p-4">
                <a class="navbar-brand" href="{% url 'resume' %}"> <p>Мое резюме</p> </a>
            </div>
        </div>



            <div class="container-fluid" style='background-color: #8AC858;'>
            <div class="row justify-content-m-auto align-items-center ">

                <div class="col-md-1 col-sm-1">
                    <nav class="navbar navbar-light" style='background-color: #8AC858;'>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHidenContent"
                                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">

                            <span class="fas fa-envelope"></span>

                        </button>

                    </nav>
                </div>

                <div class="col-md-8 col-sm-8 col-md-auto">

                    <nav class="navbar navbar-expand-lg navbar-light ">


                        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">

                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                                  <a class="nav-link" href="{% url 'home' %}">Новые <span class="sr-only">(current)</span></a>
                                </li>
                                        {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'author' author=user.username %}">Ваши посты <span class="sr-only">(current)</span></a>
                                    </li>

                                    <li class="nav-item {% if request.path == add_url %}active{% endif %}">
                                      <a class="nav-link" href="{% url 'blog:add' %}">Добавить новый пост</a>
                                    </li>

                                    <li class="nav-item ">
                                        <p class="nav-link mx-0 pr-0" style="color:brown;"> Добрый день,  </p>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link text-left pl-1" title="Вход в личный кабинет" href="{% url 'accounts:personal_cabinet' %} " style="color:brown;">{{user.first_name}}!</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'accounts:logout' %} ">Выйти</a>
                                    </li>
                                  {% else %}
                                    <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'accounts:login' %} ">Войти</a>
                                    </li>
                                    <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'accounts:register' %} ">Регистрация</a>
                                    </li>
                                  {% endif %}
                                    <li>

                                    </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="col-md-3 col-sm-3">
                    <form class="form-inline" action="{% url 'blog:search' %}" method="get">
                        <input name="q" class="form-control-sm mb-1" type="text" placeholder="Поиск на сайте">
                        <button type="submit" class="btn btn-sm btn-outline-light mb-1">ПОИСК</button>
                    </form>

                </div>
            </div>
            </div>


                </div>


  </head>


  <body>
  <br>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                  <span {% if message.tags %} class="{{ message.tags }}" {% endif %}> Внимание! {{ message }}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                         {% else %}
                              <div id="my-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                                  <span {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                         {% endif %}
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-2"><!--сделаем слева меню или навигацию-->

            </div>
            <div class="col-md-8 align-self-center"> <!--справа таблицы-->
            {% block content %} {% endblock content %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
        placeholder: 'Укажите теги',
        maximumSelectionLength: 5
        })
        .on('js-example-basic-multiple:close', function() {
        var el = $(this);
        if(el.val()==="NEW") {
          var newval = prompt("Enter new value: ");
          if(newval !== null) {
            el.append('<option>'+newval+'</option>')
              .val(newval);
          }
         }
         });
        });


        $("#my-alert").fadeTo(5000, 500).slideUp(500, function(){
            $("#my-alertt").slideUp(500);
        });

    </script>
    {% block javascript %} {% endblock javascript %}

  </body>
</html>

