<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Резюме</title>
  </head>
  <body>
     <div class="container">
        <div class="row">
           <div class="col-sm">
               <p class="h4"><ins><em>Игнатченко Андрей</em></ins></p>
               <p class="h6">Python, Back-end(Django) - разработчик </p>
                     <p> Полная занятость</p>

                    <div class="card border-dark " >
                      <div class="card-header py-1">
                         <p class="h5" style="font-family:'Comic Sans MS', cursive"><span class="fas fa-user"></span> &nbsp Персональные данные </p>
                      </div>
                      <div class="card-body my-0 py-1">
                              <div class="row ">
                                <dt class="col-sm-4 col-md-2 my-0">Дата рождения</dt>
                                <dd class="col-sm-8 col-md-10 my-0">06.04.1987</dd>
                              </div>
                              <div class="row">
                                <dt class="col-sm-4 col-md-2 my-0">Город</dt>
                                <dd class="col-sm-8 col-md-10 my-0">Харьков, Киев</dd>
                              </div>
                              <div class="row">
                                <dt class="col-sm-4 col-md-2 my-0">Тел./Telegram</dt>
                                <dd class="col-sm-8 col-md-10 my-0">+38 (095) 346 20 58</dd>
                              </div>
                              <div class="row">
                                <dt class="col-sm-4 col-md-2 my-0">Viber</dt>
                                <dd class="col-sm-8 col-md-10 my-0">+38 (096) 936 07 44</dd>
                              </div>
                              <div class="row">
                                <dt class="col-sm-4 col-md-2 my-0">Email</dt>
                                <dd class="col-sm-8 col-md-10 my-0">Andreyihnatchenko@gmail.com</dd>
                              </div>
                      </div>
                    </div>



                    <div class="card border-dark" >
                        <div class="card-header py-1">
                            <p class="h5" style="font-family:'Comic Sans MS', cursive"> <span class="fas fa-briefcase"></span> &nbsp Опыт работы </p>
                        </div>
                        <div class="card-body py-1">
                                  <div class="row">
                                    <dt class="col-sm-3 col-md-2">06.2013-01.2020</dt>
                                    <dd class="col-sm-9 col-md-10 "><p><em> Начальник отдела фармацевтических разработок (R&D)</em></p>
                                        <p>В обязаности входило организация работы отдела, в т.ч. руководства проведения
                                        научно-исследовательских и експерементальных работ по разработке состава,
                                        технологии производства и методов контроля оригинальных и генерических ЛС.
                                        с учетом требований отраслевых стандартов GMP, ISO 9000, ISO 14000</p>
                                        <p class="my-0">Для обеспечения работы отдела была создана сетевая база данных (с использованием Microsoft Access)
                                        для учета (сырья, реактивов, материалов и пр) и организации електронного документооборта (служебные записки,                                     протоколы, сертификаты качества).
                                        </p>
                                    </dd>
                                  </div>

                        </div>
                    </div>


                    <div class="card border-dark" >
                            <div class="card-header py-1">
                                <p class="h5" style="font-family:'Comic Sans MS', cursive"><span class="fas fa-globe"></span> &nbsp  Высшее образование </p>
                            </div>
                            <div class="card-body py-1">
                                  <div class="row">
                                    <dt class="col-sm-3 col-md-2">Высшее образование, дневная/очная форма 2010</dt>
                                    <dd class="col-sm-9 col-md-10"><p><em> Национальный технический университет "Харьковский политехнический институт"</em></p>
                                        <p>Специальность: Биотехнология биологически активных веществ (красный диплом)</p>
                                    </dd>
                                  </div>
                            </div>
                    </div>

                    <div class="card border-dark " >
                            <div class="card-header py-1">
                                <p class="h5" style="font-family:'Comic Sans MS', cursive"> <span class="fas fa-paperclip"></span> &nbsp   Дополнительное образование </p>
                            </div>
                            <div class="card-body my-0 py-1">
                                  <div class="row my-0 py-0">
                                    <dt class="col-sm-3 col-md-2 ">01.2020-04.2020</dt>
                                    <dd class="col-sm-9 col-md-10 "><p class="my-0 py-0"><em> Prog.kiev.ua</em></p>
                                        <p class="my-0 py-0">Python Start, Python Pro</p>
                                    </dd>
                                  </div>
                            </div>
                    </div>

                    <div class="card border-dark " >
                            <div class="card-header py-1">
                                <p class="h5" style="font-family:'Comic Sans MS', cursive"> <span class="fas fa-wrench"></span> &nbsp Знания и навыки </p>
                            </div>
                            <div class="card-body my-0 mx-1 py-1">
                                  <div class="row my-0 ">
                                    <dt class="col-sm-3 col-md-2 my-0"><strong>Профессиональные навыки</strong></dt>
                                    <dd class="col-sm-9 col-md-10 my-0">
                                        <ul class="my-0">
                                            <li>
                                                Python, Django, Django Rest Framework
                                            </li>
                                            <li>
                                                Git <a href="https://github.com/AndreyIh">(Github)</a>
                                            </li>
                                            <li>
                                                HTML/CSS, Bootstrap
                                            </li>
                                            <li>
                                                MySQL/PostgreSQL, Redis
                                            </li>
                                            <li>
                                                Деплой на  <a href="https://db-blog-20.herokuapp.com/">Heroku</a>
                                            </li>
                                        </ul>
                                    </dd>
                                  </div>
                            </div>
                    </div>

               <div class="card border-dark" >
                            <div class="card-header py-1">
                                <p class="h5" style="font-family:'Comic Sans MS', cursive"><span class="fas fa-fire"></span> &nbsp  Дополнительные сведения </p>
                            </div>
                            <div class="card-body py-1">
                                  <div class="row">
                                        <p> Постоянно обучение новому, поиск необходимой информации,
                                            работа с необходимой технической докуменатацией и литературой,
                                            а также умение работать в режиме многозадачности позволяют мне
                                            быстро находить качественные решения сложных задач. </p>
                                        <p> Английский язык — Pre-Intermediate </p>
                                  </div>
                            </div>
                    </div>



     </div>
        </div>
     </div>


















    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>